<h1>New game</h1>
<div id="container">
  <% @letters.each do |letter| %>
    <div id="letter"><%= letter %></div>
  <% end %>
</div>
<p id="question">What is the longest word you can find?</p>
<form class="form-inline" action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input class="form-control" id="input" type="text" name="guess">
  <input class="btn btn-primary" id="button" type="submit" value="Play">
</form>

